@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

:root{
    --fonte_principal:;
    --fonte_segundaria:;

    --cor0:#19191965;
    --cor1:#00ff1e71;
    
}

header{
    
}
h1{
    display: inline;
    font-size: 3em;
    margin-left: 100px;
    
}
body{

    background-image: url(img/pexels-mark-daleman-250650.jpg);
    background-repeat: no-repeat;
    background-position: center;

}


main{
    background-color:var(--cor0);
    
    min-width: 320px;
    max-width: 1000px;
    margin:auto;
    margin-top: 150px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.405);
    text-align: center;
}


a {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 2em;
    border: solid #000000;
    width: 500px;
    margin: 8px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
    background-color:var(--cor1);
    color: #ffffff;
}

footer{
    font-size: 1.2em;
    background-color: #ffffff65;
    max-width: 200px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
      
}
@media (max-width: 600px) {

    main{
        margin-top: 30px;
    }

    
    h1{
        margin-left: 30px;  
    } 
    
    a {
        width: 400px;  
        
    }

   
}