@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

:root{
    --fonte_principal:;
    --fonte_segundaria:;

    --cor0:#19191965;
    --cor1:#00ff1e71;
    
}


html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
   
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

 /*==============================*/

 #quadro{
    display: flex;
    justify-content: space-between;
 }

#li-esq, #li-dir{
    border: 2px solid black;
    width: 50%;
    padding: 20px;
}


#titulo{
    font-size: 3em;
    background-color: var(--cor0);
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
}

.container{
    font-size: 2em;
    padding: 60px;
}


#container-1, #container-2, #container-3, #container-4{
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
#container-1{   
    background-image: url(img/foto1.jpg);   
}

#container-2{   
    background-image: url(img/foto2.jpg);   
}

#container-3{   
    background-image: url(img/foto3.jpg);   
}