@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fonte_principal:sans serif;

    --cor0:#19475675;
    --cor1:#000000d5; 
    
}

html, body{
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
}

li{
    list-style: none;
}

a{
    text-decoration: none; 
}

footer {
    font-size: 1.1em;
    padding: 1px;
}

footer p{
    background-color: var(--cor0);
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 15px;
    width: 28%;
}

 /*====================================================*/

 /*=============Container=================*/

 .container{
    background-image: url(img/fundo3.jpg);
    background-size: cover;
    background-position: center;
 }

.container #perfil{ /* Especifico do perfil*/
    width: 100%;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 50px;
    display: flex;
}

#container-1, #container-2, #container-3, #container-4{
    height: 100vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container-1{  /*container do Titulo*/ 
    background-image: url(img/foto1.jpg); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#container-2{   
    background-image: url(img/foto3.jpg);   
}

#container-3{   
    background-image: url(img/foto2.jpg);   
}

/*================capa principal=================*/
 #titulo{
    margin-bottom: 5px;
    padding: 8px;
    font-size: 3.5rem;
    color: #323240;
    width: 80%;
    background-color: var(--cor0);
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    user-select: none; /* Nao deixa ser selecionado*/
}

.links {
    display: flex;
    gap: 10px; /*Espaçamento dos links*/
    font-size: 1.2em;
    margin-top: 5px;
    margin-left: 40px;
    text-transform: uppercase;  
    user-select: none; /* Nao deixa ser selecionado*/ 
}
.links a{
    color: #323240;
    padding: 10px;
}

.links a:hover{
    color: var(--cor0);

}

 /*=======================Perfil=======================*/

 #foto {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#texto{
    max-width: 640px;
}

#texto p{
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--cor1);
 }

 /*===========Quadro=============*/

#li-esq, #li-dir{
    width: 50%;
    padding: 10px;
    text-align: center;
}

#quadro{
   display: flex;
   font-size: 2em;

 }


